<!--The variable part of the title is generated dynamically by ERbbundle exec rspec spec/requests/static_pages_spec.rb-->
<% provide(:title, 'Contact') %>
<h1>Sample App</h1>
<p>
  This is the Contact page for the
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
</p>

